<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <div class="container">
            <div id="home">
                <div class="level">
                    <div class="level-item">
                        <img src="/img/logo-full.png" alt="logo" id="home-logo">
                    </div>
                </div>
            </div>
            <% include partials/footer %>
        </div>
    </body>
</html>
