<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <div class="container" align="center" id="instruction" style="margin-top: 10vh">
            <h2 class="title is-3">Halo, <%- voter_name %> (<%- voter_nim %>)</h2>
            <br>
            <h1 style="color: #179ed8;" class="title is-1">Instruksi Pemilihan:</h1>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="http://www.independentmediators.co.uk/wp-content/uploads/2016/02/placeholder-image.jpg" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4">1. Klik calon yang Anda pilih</p>
                            <hr>
                            <p class="subtitle">Hanya tersedia waktu sebanyak 60 detik untuk memilih. Perhatikan waktunya baik-baik.</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="http://www.independentmediators.co.uk/wp-content/uploads/2016/02/placeholder-image.jpg" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4">2. Jika sudah yakin, klik lanjutkan</p>
                            <hr>
                            <p class="subtitle">Atau Anda bisa membatalkan pilihan dan memilih kembali calon pilihan Anda.</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="http://www.independentmediators.co.uk/wp-content/uploads/2016/02/placeholder-image.jpg" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4">3. Terakhir, pilih Calon Senator</p>
                            <hr>
                            <p class="subtitle">Prosedurnya sama seperti pada pemilihan Calon Kahim. Perhatikan step 1 dan 2.</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="http://www.independentmediators.co.uk/wp-content/uploads/2016/02/placeholder-image.jpg" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4">4. Selesai!</p>
                            <hr>
                            <p class="subtitle">Selamat memilih!</p>
                        </div>
                    </div>
                </div> -->
            </div>
            <button class="button is-info is-medium" id="proceed-btn" onclick="proceed()">Saya Mengerti</button>
        </div>
        <% include partials/footer %>
    </body>
    <style>
        #instruction .card .card-content {
            min-height: 30vh;
            text-align: left !important;
        }

        #instruction .card .card-content .title {
            color: #01c1b8;
        }
    </style>
    <script type="text/javascript">
        //const ipcRenderer = require('electron').ipcRenderer;

        function proceed() {
            ipcRenderer.send("dismiss-instructions");
        }
    </script>
</html>