<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <div class="container" align="center">
            <h1 class="title">Instruksi:</h1>
            <button class="button" id="proceed-btn" onclick="proceed()">Oke, lanjutkan</button>
        </div>
        <% include partials/footer %>
    </body>
<script type="text/javascript">
    const ipcRenderer = require('electron').ipcRenderer;

    function proceed() {
        ipcRenderer.send("dismiss-instructions");
    }
</script>
</html>