<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <div class="container" align="center" id="instruction" style="margin-top: 10vh; margin-bottom: 100px;">
            <h2 class="title is-3">Halo, <%- voter_name %> (<%- voter_nim %>)</h2>
            <br>
            <h1 style="color: #179ed8;" class="title is-1">Instruksi Pemilihan:</h1>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/img/step1.png" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4">1. Klik calon yang Anda pilih</p>
                            <hr>
                            <p class="subtitle">Hanya tersedia waktu sebanyak 60 detik untuk memilih. Perhatikan waktunya baik-baik.</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/img/step2.png" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4">2. Jika sudah yakin, klik lanjutkan</p>
                            <hr>
                            <p class="subtitle">Atau Anda bisa membatalkan pilihan dan memilih kembali calon pilihan Anda.</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/img/step3.png" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4">3. Akan muncul halaman selanjutnya</p>
                            <hr>
                            <p class="subtitle">Prosedur pemilihan di setiap halaman sama seperti step 1 dan 2.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding: 16px; background: #ffffff; border-top: 1px solid #cccccc; position: fixed; width: 100%; bottom: 0; left: 0;">
                <button class="button is-info is-medium" id="proceed-btn" onclick="proceed()">Saya Mengerti</button>
            </div>
        </div>
        <% include partials/footer %>
    </body>
    <style>
        #instruction .card .card-content {
            min-height: 20vh;
            text-align: left !important;
        }

        #instruction .card .card-content .title {
            color: #01c1b8;
        }
    </style>
    <script type="text/javascript">
        //const ipcRenderer = require('electron').ipcRenderer;

        function proceed() {
            ipcRenderer.send("dismiss-instructions");
        }
    </script>
</html>