<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <div class="container" style="text-align: center; margin-top: 20vh">
            <img
                src="/img/logo-full.png"
                alt="logo"
                id="home-logo"
                style="width: 15vw; margin-bottom: 2rem"
            >
            <h1 class="title" style="font-size: 5rem; color: #0ebab7">Terima kasih telah memilih!</h1>
            <p style="font-size: 1.5rem; color: #999999">
                <i>Ask not what HMIF can do for you. Ask what you can do for HMIF.</i>
                <br>
                <i>-Luthfi Ahmad Mujahid Hadiana-</i>
            </p>
        </div>
        <% include partials/footer %>
    </body>
</html>