<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <div class="container">
            <div style="text-align: center">
                <h1 class="title" style="margin-bottom: 30px; padding-top: 3vh">Klik <%- data.title %> Pilihanmu!</h1>
            </div>
            <div class="columns" style="justify-content:center">
                <% data.candidates.forEach(name => { %>
                    <%- include('vote/card', {name}); %>
                <% }) %>
            </div>
        </div>
        <% include partials/footer %>
    </body>
    <script>
        const ipcRenderer = require('electron').ipcRenderer;

        let choose = (modalId) => {
            document.querySelector(`#${modalId}`).style.display = 'block';
        }
        let closeModal = (modalId) => {
            document.querySelector(`#${modalId}`).style.display = 'none';
        }
        let vote = (type,candidate_no,nim) =>{
            console.log("Vote "+candidate_no);
            ipcRenderer.send("voted", {"vote_type":type, "candidate_no":candidate_no});
            closeModal('notif-'+nim);
        }
    </script>
</html>