@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'bulma.min.css';
@import 'home.css';

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background: url('./../img/main-bg.png');
}

.profile {
    cursor: pointer;
    margin: 15px;
    margin-bottom: 0;
    width: 22vw;
    text-align: center;
}

.confirm-choose {
    display: none;
    position: absolute;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
}
.confirm-choose .notification {
    width: 30vw;
    padding: 3rem 2.5rem 3rem 2.5rem !important;
    top: 30%;
    text-align: center;
    margin: 0 auto;
}
.confirm-choose .level-item > button {
    width: 85%;
    font-size: 1.3rem;
}
figure.image {
    background-size: cover;
    background-position: center;
}