@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'bulma.min.css';
@import 'home.css';

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/main-bg.png');
}