<div class="confirm-choose" id="modal-timeout">
    <div class="notification">
        <p class="title is-4">Laman ini akan ditutup dalam 10 detik</p>
        <div class="level">
            <div class="level-item">
                <button class="button is-link" onclick="defer_timeout()">Saya masih disini!</button>
            </div>
        </div>
    </div>
</div>
<footer style="text-align: center">
    <p class="copyright">Made with passion by: IT Pemilu HMIF 2019</p>
</footer>