<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Pemilu HMIF 2019</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">
        const ipcRenderer = require('electron').ipcRenderer;

        let defer_timeout = function() {
            ipcRenderer.send("defer-timeout");
            document.querySelector(`#modal-timeout`).style.display = 'none';
        }

        ipcRenderer.on('timeout-warning', function(event, arg) {
            document.querySelector(`#modal-timeout`).style.display = 'block';
        });
    </script>
</head>