<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Pemilu HMIF 2019</title>

    <!-- static files -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/TimeCircles.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/TimeCircles.js"></script>
    <script>if (window.module) module = window.module;</script>
</head>